.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  min-height: 100px;

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .input {
    outline: none;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
  }

  .error {
    color: red;
    position: absolute;
    bottom: 10px;
  }
}
